apiVersion: v1
kind: ReplicationController
metadata:
  name: myapp
  labels:
    app: frontend-rc
    type: development

spec:
  replicas: 5
  selector:
    app: frontend

  template:
    metadata:
      name: alnafi
      labels:
        app: frontend
    spec:
      containers:
      - name: alpha
        image: nginx 
