apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp
    tier: frontend
spec:
  replicas: 5
  selector:
    matchLabels:
      app: alnafi-app

  template:
    metadata:
      labels:
        app: alnafi-app
    spec:
      containers:
      - name: nginx-container
        image: nginx
